.skeleton {
  width: 100%;
  height: 100%;
  background: lightgray;
  animation: mymove 2.5s infinite;
}
@keyframes mymove {
  30% {
    background-color: gray;
  }
  50% {
    background-color: darkgray;
  }
}
